body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid #2a91f8;
}

input[type="text"].wrongInput {
    border-bottom: 2px solid red;
}

input[type="submit"] {
    background: #2a91f8;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 1.3rem;
    margin: 10px 0px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background: #51a8ff;
}

input, select {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

select {
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #e9e9ed;
}

select:hover {
    background-color: #eeeef0;
}

.formBlock {
    width: 400px;
    position: absolute;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: max(0px, min(50px, calc((100vw - 4px - 100%) * 9999)));
    background: #ffffff;
    box-shadow:  20px 20px 60px #cfcfcf,
                -20px -20px 60px #ffffff;
    font-size: 1.2rem;
}

.formLine {
    display: flex;
    flex-flow: column;
}

.errorMessage {
    height: 6rem;
    color: red;
    display: flex;
    justify-content: end;
    flex-flow: column;
    margin-bottom: 15px;
}

.showResult {
	height: 2rem;
	font-size: 1.4rem;
	font-weight: bold;
}